# .env.example

NEXT_PUBLIC_API_URL=your_api_url_here
NEXT_PUBLIC_REDIRECT_URL=your_redirect_url_here
NEXT_PUBLIC_COOKIE_NAME=your_cookie_name_here
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
